.footer {
     width: 100%;
     bottom: 0;
     justify-content: center;
     position: relative;
     background-color: black;
 }

 .footer span {
     font-size: 1rem;
     font-weight: 300;
     color: blanchedalmond;
 }